html {
    font-size: 14px;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 15;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 16px;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 17px;
    }
}