- content_for :title, 'Новости – Евгения Овчинникова, писательница'

= render'partials/navbar',
        active: "news"

.container-fluid.eo-section-fluid
  .container.eo-section-header
    .row
      .col-12
        h1 Новости
        nav.eo-navbar-breadcrumb aria-label="breadcrumb"
          ol.p-0 class="breadcrumb"
            li class="breadcrumb-item"
              a href="/" Главная
            li class="breadcrumb-item active" aria-current="page" Новости

hr
= render "partials/subscription"